<footer class="bg-light fixed-bottom text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(204, 127, 38, 0.2);">
    © 2022 Bianca & Toygun Rocks!! \m/
    <a class="text-dark" href="https://br020amsterdam.com">the Game Keeper!</a>
  </div>
</footer>