<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/head.ejs'); %>  
</head>
<body class="container">

<header>
  <%- include('../views/header.ejs'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to The Game Keeper</h1>
    <p>Hey Board Game Freak! :P</p>
  </div>
</main>
</body>
</html>
