<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/head.ejs'); %>
  </head>
  <body class="container">
    <header><%- include('../views/header.ejs'); %></header>
    <%- body %>
    <footer><%- include('../views/footer.ejs'); %></footer>
  </body>
</html>
