<!DOCTYPE html>
<html lang="en">

<body class="container">

   <form class="form-login" action="/user/login" method="post"> 
    <h2 class="form-login-heading">Welcome Login</h2> 
      <p>
        <label for="inputEmail" class="sr-only">Email </label> 
        <input type="email" name="email" />
      </p>
      <p>
        <label for="inputPassword" class="sr-only">Password </label> 
        <input type="password" name="password" />
      </p>
      <p>
        <button class="btn btn-lg btn-primary " type="submit">Login</button> 
      </p>
      <p>Don't have an account? <a href="/user/signup">Signup</a> 
             it's free.</p> 
    </form>

  </body>
  
    