<!DOCTYPE html>
<html lang="en">
<body class="container">
<main>
  <div class="jumbotron">
    <h1>BOARD GAMES</h1>
    <p>Please Submit your game!</p>
  </div>

  <form action="/game/create" method="post" enctype="multipart/form-data">
      <input name="title" type="text" placeholder="game title" />
      <br />
      <input name="description" type="text" placeholder="description" />
      <br />
      <input type="file" name="image" />
      <button type="submit">submit</button>
  </form>
</main>
</body>
</html>