<h2>All games</h2>
<form method="get" action="/game/create">
  <button type="submit" class="btn btn-primary">Create New Game</button>
</form>
<!--<a href="/game/create">Create New Game</a>-->
<div class="results">
  <div class="container">
    <div class="row">
      <% games.forEach((game)=> { %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="<%= game.image %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= game.title %></h5>
            <p class="card-text"><%= game.description %></p>
            <a href="/game/<%= game.id %>" class="btn btn-primary">View Game</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
